@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?t90ppv');
  src:  url('../fonts/icomoon.eot?t90ppv#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?t90ppv') format('truetype'),
  url('../fonts/icomoon.woff?t90ppv') format('woff'),
  url('../fonts/icomoon.svg?t90ppv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rmais:before {
  content: "\e900";
}

.icon-fertilidade:before {
  content: "\e904";
}

.icon-fertility:before {
  content: "\f2c0";
}

.icon-satelite:before {
  content: "\f2c1";
}

.icon-descompact:before {
  content: "\f2c4";
}

.icon-recomendacao:before {
  content: "\f2c2";
}

.icon-permanents:before {
  content: "\f2c3";
}

.icon-productivity:before {
  content: "\ea03";
}

.icon-xplorer:before {
  content: "\e902";
}

.icon-alexandria:before {
  content: "\e903";
}

.icon-elements:before {
  content: "\e907";
}

.icon-wind-speed:before {
  content: "\c107";
}

.icon-celsius:before {
  content: "\c112";
}

.icon-humidity:before {
  content: "\c111";
}

.icon-thermometer:before {
  content: "\c115";
}

.icon-wind-speed,
.icon-celsius,
.icon-humidity{
  font-size: 40px;
}
.icon-thermometer{
  font-size: 25px;
  right: 5px;
  position: relative;
  top: 2px;
}

.icon-elements {
  font-size: 1.3em;
  left: -3px;
  position: relative;
}

.fa-cloud-upload{
  font-size: 40px;
}

.icon-fertility {
  font-size: 30px;
}

.icon-permanents {
  font-size: 30px;
}

.icon-recomendacao {
  font-size: 30px;
}

.icon-rmais {
  font-size: 40px;
}

.icon-fertilidade {
  font-size: 40px;
}

.fa-line-chart {
  font-size: 30px;
}

.icon-alexandria{
  font-size: 40px;
}

.icon-satelite{
  font-size: 30px;
}

.icon-descompact{
  font-size: 45px;
}

.icon-alexandria-sem-luz {
  font-size: 4em;
}

.icon-xplorer {
  font-size: 40px;
  text-align: center;
}

.detail-fertilidade{
  top: -20px;
}

.detail-xplorer{
  top: -22px;
}

.icon-regua-preta:before {
  content: "\e900";
}

.icon-reboleira:before {
  content: "\e901";
}

.icon-triangulo:before {
  content: "\e902";
}

.icon-pencil:before {
  content: "\e909";
}

.icon-floppy-disk:before {
  content: "\e962";
}

.icon-enlarge:before {
  content: "\e989";
}

.icon-bin:before {
  content: "\e9ac";
}

.icon-point-up:before {
  content: "\ea03";
}

.icon-checkbox-unchecked:before {
  content: "\ea53";
}

.icon-radio-unchecked:before {
  content: "\ea56";
}

.icon-pagebreak:before {
  content: "\ea6e";
}